a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 50px;
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  margin-bottom: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted;
  border-width: thick;
  border-color: #EAF6F6;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  line-height: 10px;
  width: 7%;
}

.code-skill-description {
  color: #40514E;
  font-weight: bold;
}
.code-skill{
  margin-bottom: 50px;
  color: #40514E;
  font-weight: bold;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin-top: 5em;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 55px;
  margin-top: 100px;
  padding-bottom: 35px;
}

.pro {
  text-decoration: underline;
}

.Top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.Bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.steven {
  width: 200px;
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.program-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-img {
  width: 25%;
  float: right;
}

.background-body {
  color: white;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
  margin-bottom: 50px;
}
.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 50px;
  text-decoration: none;

}

#copyright {
  margin: 45px 0;
  color: #EAF6F6;
}
